/* Contants */
:root {
  --error-color: #ef5350;
  --secondary-color: #CFD8DC;
  --third-color: #90A4AE;
}

.align-center {
  display: flex;
  align-items: center;
}
.titleStepperContent {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}
.datValidationError {
  font-size: 0.75rem;
  color: #ef5350;
  font-weight: 400;
  box-shadow: none !important;
  line-height: 1.2;
}

.datValidationErrorLabel .v-label {
  color: var(--error-color) !important;
}

.datValidationErrorLabel .v-input__slot::before {
  border-color: var(--error-color) !important;
}

.datValidationErrorLabel .v-input__append-inner .v-icon {
  color: var(--error-color);
}

.datValidationErrorLabel--text {
  color: var(--error-color) !important;
  caret-color: var(--error-color) !important;
}

.datSecondary {
  background-color: blue;
  border-color: blue;
}

.red-box {
  display: inline-block;
  width: 100%;
  padding: 5px;
  background-color: #ffcccc;
  color: #000000;
  border: 2px solid #ff0000;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.componentPrimary {
  background-color: #ffc107;
  color: #000000;
  border: 2px solid #a27a03;
}

.align-text-center {
  text-align: center;
}

.box {
  border: 3px solid var(--secondary-color);
  text-align: center;
  border-radius: 25px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.subtitle-upper {
  text-transform: uppercase;
  font-size: 18px;
  color: var(--third-color);
}
